<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Funções
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="button" routerLink="/timer">Timer</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <br/>
  <ion-button class="button" expand="block" routerLink="/timer">Timer</ion-button>
</ion-content>