<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Funções
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <ion-button class="button" expand="block" routerLink="/timer">Timer</ion-button>
    <ion-button class="button" expand="block" routerLink="/timer">Exemplo</ion-button>
    <ion-button class="button" expand="block" routerLink="/timer">Exemplo</ion-button>
    <ion-button class="button" expand="block" routerLink="/timer">Exemplo</ion-button>
  </ion-card>
</ion-content>