<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/timer"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Editar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Horário do Timer</ion-label>
      <ion-datetime  id="timer" [(ngModel)]="timer" value="{{ timer }}" displayFormat="HH:mm:ss" required></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dispositivo</ion-label>
        <ion-select [(ngModel)]="mac">
          <ion-select-option *ngFor="let device of Devices" [value]="device.mac"  required>{{ device.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dias da Semana</ion-label>
         <ion-select  [(ngModel)]="week" id="week" interface="alert" multiple="true" value="{{ week }}" required>
          <ion-select-option value="seg">Seg</ion-select-option>
          <ion-select-option value="ter">Ter</ion-select-option>
          <ion-select-option value="qua">Qua</ion-select-option>
          <ion-select-option value="qui">Qui</ion-select-option>
          <ion-select-option value="sex">Sex</ion-select-option>
          <ion-select-option value="sab">Sab</ion-select-option>
          <ion-select-option value="dom">Dom</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Selecione Qual Será Editado</ion-label>
        <ion-select [(ngModel)]="wt" (ionChange)="onChange($event)" id="wt" value="{{ wt }}" interface="alert" required>
          <ion-select-option value="timer1">Timer - 1</ion-select-option>
          <ion-select-option value="timer2">Timer - 2</ion-select-option>
          <ion-select-option value="timer3">Timer - 3</ion-select-option>
          <ion-select-option value="timer4">Timer - 4</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button color="primary" shape="full" expand="block" (click)="update()">Atualizar</ion-button>
        </ion-col>
      </ion-row>
  </ion-list>
</ion-content>