<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Adicionar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="deviceForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Status</ion-label>
        <ion-input formControlName="status" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">MAC</ion-label>
        <ion-input formControlName="mac" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" src="/assets/svg/Lâmpada.svg"></ion-icon>
        <ion-input formControlName="icon"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Criar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>