<ion-content class="ion-padding" swipeEnabled="false">
  <br><br>
  <h1 class="ion-text-center logo-white">
    Obrigado por se registrar!
  </h1>
  <br>
  <h1 class="ion-text-center logo-white">
    Verifique seu email e clique no link para verificar seu endereço de email.
  </h1>
  <br>
  <br>
  <ion-button ion-item color="dark" expand="full" (click)="goToLogin()">
    Voltar para a página de login
  </ion-button>
  <ion-button ion-item color="dark" expand="full" (click)="verificationMail()">
    Reenviar email de verificação
  </ion-button>
</ion-content>
