<ion-content class="ion-padding" swipeEnabled="false">
  <br><br>
  <h1 class="ion-text-center logo-white">
    Obrigado por se registrar!
  </h1>
  <br>
  <h1 class="ion-text-center logo-white">
    Entre no seu email e clique no link para a verificação.
  </h1>
  <br>
  <br>
  <ion-button ion-item color="dark" expand="full" (click)="verificationMail()">
    Reenviar email de verificação
  </ion-button>
  <br>
  <ion-button ion-item fill="outline" shape="round" ion-item color="dark" expand="full" (click)="goToLogin()">
    Voltar
  </ion-button>
</ion-content>
