ion-content {
    --background: rgb(231, 231, 231);
    --background: -moz-linear-gradient(top, rgb(63, 63, 63) 0%, rgb(32, 31, 32) 100%);
    
    
    --ion-text-color: #fff;

    ion-list {
        --ion-background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
    }

    ion-item {
        --ion-background-color: rgba(255, 255, 255, 0);
        --background-activated: rgba(255, 255, 255, 0);
        --highlight-color-focused: rgba(255, 255, 255, 0.1);
    }
}