.active {
    --ion-text-color: var(--ion-color-primary);

    ion-icon {
        --ion-text-color-rgb: var(--ion-color-primary);
    }
}

.active-parent {
    font-weight: 500;
}

.sub-item {
    padding-left: 20px;
    font-size: small;
}

ion-menu,
ion-content {
    --background: #1e1e1e;
    font-family: 'Open Sans', sans-serif;
}

ion-action-sheet {
    --background: white !important;
}

img {
    border-radius: 100%;
    padding: 5px;
    width: 70px;
}

.user-menu {
    text-align: center !important;
    color: white;
    font-family: 'Open Sans', sans-serif;
    //background: url('src/assets/img/backgrounduser.png') no-repeat center center / cover !important;
}