<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/edit-device-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Editar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" required [(ngModel)]="name">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Icone</ion-label>
        <ion-icon src="/assets/svg/{{ icone }}.svg"></ion-icon>
        <ion-select value="{{ icone }}" [(ngModel)]="icone">
          <ion-select-option *ngFor="let icon of Icons" value="{{ icon.name }}">{{ icon.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Cômodo</ion-label>
        <ion-select value="{{ comodo }}" [(ngModel)]="comodo">
          <ion-select-option *ngFor="let room of Rooms" value="{{ room.name }}">{{ room.name }}</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-row>
        <ion-col>
          <ion-button color="primary" shape="full" expand="block" (click)="update()">Atualizar</ion-button>
        </ion-col>
      </ion-row>
  </ion-list>
</ion-content>