<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="ios list-ios hydrated">

    <ion-item [routerLink]="['/edit-device-list']">
      <h2>
          <ion-icon name="desktop-outline"></ion-icon> Dispositivos
      </h2>
    </ion-item>
    <ion-item [routerLink]="['/edit-room-list']">
      <h2>
        <ion-icon name="home"></ion-icon> Cômodos
      </h2>
    </ion-item>

  </ion-list>

</ion-content>
