.transparent {
  background-color: transparent;
}

ion-toolbar {
  ion-button {
    --background: transparent;
    --box-shadow: transparent;

    ion-icon {
      color: white;
    }
  }
}



ion-content {

  --ion-text-color: #fff;

  ion-icon {
    color: white;
  }
}

ion-list,
ion-item {
    --background: #2b3566;
    background: #2b3566;
}
