<!--
  Tudo que é colocado nessa página aparece no app inteiro
  Nesse caso temos um side menu
-->

<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1"  *ngIf="showComponent">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-item (click)="showOptions()">
              <ion-avatar>
                <img src="{{user.image}}">
              </ion-avatar>
              <div>
                {{user.name}}
              </div>
            </ion-item>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list *ngFor="let page of pages">
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="page.url" routerDirection="forward">
              <ion-icon [name]="page.icon" slot="start"></ion-icon>
                 {{page.title}} 
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>