.transparent {
    background-color: transparent;
}

ion-icon {
    color: white;
}

ion-item {
    --background: rgb(43, 53, 102, 0.7);
}

@media (min-width: 720px) {
    .buttons button ion-icon {
        font-size: 20px;
    }

    ion-item ion-label h2 ion-icon {
        font-size: 40px;
    }

    ion-item ion-label h2 {
        font-size: 30px;
    }
}