<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Editar Cômodos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">

    <ion-item *ngFor="let room of Rooms" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="home"></ion-icon> {{room.name}}
        </h5>
        <h5>
          <ion-icon name="contrast"></ion-icon> {{room.color}}
        </h5>
      </ion-label>

      <div class="item-note" item-end>
        <button class="transparent" ion-button clear [routerLink]="['/edit-room-page/', room.$key]"> 
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>

        <button class="transparent" ion-button clear (click)="deleteRoom(room.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>

      </div>

    </ion-item>

  </ion-list>
</ion-content>