ion-content {
  --background: rgb(0, 191, 181);
  --background: linear-gradient(45deg, rgba(0, 191, 181, 1) 35%, rgba(0, 124, 191, 1) 70%);

  --ion-text-color: #fff;
}

ion-label {
  font-weight: bolder;
}

ion-icon {
  font-size: 45px;
}

.sqare_button {
  height: 80px;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-bottom: 2px;
  --box-shadow: none;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
}
