<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Editar Dispositivo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

    <ion-item *ngFor="let device of Devices">
        <ion-label>
          <h5>
            <ion-icon src="/assets/svg/{{ device.icon }}.svg"></ion-icon> {{device.name}}
          </h5>
          <h5>
            <ion-icon name="hardware-chip"></ion-icon> {{device.mac}}
          </h5>
          <h5>
            <ion-icon name="home-outline"></ion-icon> {{device.room}}
          </h5>
        </ion-label>

        <div>
          <button class="transparent" ion-button clear [routerLink]="['/edit-device-page/', device.$key]">
            <ion-icon name="create" style="zoom:2.0"></ion-icon>
          </button>

          <button class="transparent" ion-button clear (click)="deleteDevice(device.$key)">
            <ion-icon name="trash" style="zoom:2.0"></ion-icon>
          </button>

        </div>

    </ion-item>

  </ion-list>
</ion-content>