<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="fecharModal()">
        Fechar
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="selecionarImagem()">
        Selecionar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let imagem of Imagens">
    <ion-thumbnail slot="start">
      <ion-icon src="{{ imagem.local }}"></ion-icon>
    </ion-thumbnail>
    {{ imagem.nome }}
    <ion-checkbox slot="end" [(ngModel)]="imagem.isChecked" (click)="checkBox(imagem)"></ion-checkbox>
  </ion-item>
</ion-content>