ion-content {
    --background: rgb(7,105,159);
    --background: linear-gradient(45deg, rgba(7,105,159,1) 35%, rgba(43,53,102,1) 70%);

    --ion-text-color: #fff;

    ion-list {
        --ion-background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;

        max-width: 600px;

        margin-left: auto;
        margin-right: auto;
    }

    ion-item {
        --ion-background-color: rgba(255, 255, 255, 0);
        --background-activated: rgba(255, 255, 255, 0);
        --highlight-color-focused: rgba(255, 255, 255, 0.2);
    }

    h1 {
        font-family: 'Merienda One', cursive;
    }

    ion-button {
        max-width: 600px;

        margin-left: auto;
        margin-right: auto;
    }
}