<ion-content class="ion-padding" swipeEnabled="false">
  <br><br>
  <h1 class="ion-text-center logo-white">
    Beaver House
  </h1>
  <br>
  <br>
  <ion-list lines="none">
    <form>
      <ion-item>
        <ion-label position="stacked">Login</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password" #password required></ion-input>
      </ion-item>
    </form>
  </ion-list>
  <br>
  <ion-button ion-item color="light" fill="outline" shape="round" expand="full" size="medium" type="submit"
    (click)="logIn(email, password)">
    Entrar
  </ion-button>
  <br>
  <ion-button ion-item color="light" expand="block" type="submit" (click)="authService.GoogleAuth()">
    <ion-icon slot="start" name="logo-google"></ion-icon>&nbsp;&nbsp;Login com Google
  </ion-button>
  <br>
  <ion-button ion-item color="light" fill="clear" expand="full" (click)="goToSignup()">
    Ainda não é cadastrado? Clique aqui!
  </ion-button>
</ion-content>