<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Data Atual</ion-label>
      <!-- DD MMM, YYYY = Pegar dia, mês e ano -->
      <ion-datetime [dayShortNames]="customDayShortNames" [(ngModel)]="date" id="timerAtual" displayFormat="DDD HH:mm"
        pickerFormat="DDD HH:mm" disabled></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Horário do Timer</ion-label>
      <ion-datetime id="timer" [(ngModel)]="timer" (ionChange)="onChange($event)" displayFormat="HH:mm:ss"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Dispositivo</ion-label>
      <ion-select [(ngModel)]="mac" (ionChange)="onChange($event)">
        <ion-select-option *ngFor="let device of Devices" [value]="device.mac">{{ device.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Dias da Semana</ion-label>
      <ion-select [(ngModel)]="week" (ionChange)="onChange($event)" id="week" interface="alert" multiple="true">
        <ion-select-option value="Seg">Seg</ion-select-option>
        <ion-select-option value="Ter">Ter</ion-select-option>
        <ion-select-option value="Qua">Qua</ion-select-option>
        <ion-select-option value="Qui">Qui</ion-select-option>
        <ion-select-option value="Sex">Sex</ion-select-option>
        <ion-select-option value="Sab">Sab</ion-select-option>
        <ion-select-option value="Dom">Dom</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Selecione Qual Será Criado</ion-label>
      <ion-select [(ngModel)]="wt" (ionChange)="onChange($event)" id="wt" interface="alert">
        <ion-select-option value="timer1">Timer - 1</ion-select-option>
        <ion-select-option value="timer2">Timer - 2</ion-select-option>
        <ion-select-option value="timer3">Timer - 3</ion-select-option>
        <ion-select-option value="timer4">Timer - 4</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Status do Dispositivo</ion-label>
      <ion-select [(ngModel)]="action" (ionChange)="onChange($event)" id="action" interface="alert">
        <ion-select-option value="ligado">Ligado</ion-select-option>
        <ion-select-option value="desligado">Desligado</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-button (click)="done(timer, week, mac, wt, action)" routerLink="/menu/timer">Concluir</ion-button>
  <ion-button color="danger" routerLink="/menu/timer">Cancelar</ion-button>
</ion-content>