.transparent {
    background-color: transparent;
}

ion-toolbar {
    ion-button {
        --background: transparent;
        --box-shadow: transparent;

        ion-icon {
            color: white;
        }
    }
}

ion-content {

    --ion-text-color: #fff;

    ion-icon {
        color: white;
    }
}

ion-item {
    --background: rgb(43, 53, 102, 0.7);
}