<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="device.timer.timer1.show === false || device.timer.timer2.show === false || device.timer.timer3.show === false || device.timer.timer4.show === false" (click)="addTimer(mac, device.timer.timer1.show, device.timer.timer2.show, device.timer.timer3.show,device.timer.timer4.show)">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-item lines="none" mode="md" *ngIf="device.timer.timer1.show === true">

    <ion-label *ngIf="device.timer.timer1.timer !== ''">
      <ion-label>
        <ion-icon name="time-outline"></ion-icon> {{device.timer.timer1.timer}}
      </ion-label>

      <ion-label>
        <ion-icon name="calendar-outline"></ion-icon> <span *ngIf="device.timer.timer1.week1 === 'seg'">Seg</span>
        <span *ngIf="device.timer.timer1.week2 === 'ter'">Ter</span> <span
          *ngIf="device.timer.timer1.week3 === 'qua'">Qua</span>
        <span *ngIf="device.timer.timer1.week4 === 'qui'">Qui</span> <span
          *ngIf="device.timer.timer1.week5 === 'sex'">Sex</span>
        <span *ngIf="device.timer.timer1.week6 === 'sab'">Sáb</span> <span
          *ngIf="device.timer.timer1.week7 === 'dom'">Dom</span>
      </ion-label>
      <ion-label *ngIf="device.timer.timer1.action.length > 0">
        <ion-icon name="flash-outline"></ion-icon> {{device.timer.timer1.action}}
      </ion-label>
    </ion-label>

    <div>

      <button class="transparent" ion-button clear [routerLink]="['/edit-timer-page/', mac, 'timer1']">
        <ion-icon name="create" style="zoom:2.0"></ion-icon>
      </button>

      <button class="transparent" ion-button clear (click)="deleteTimer(mac, timer = 'timer1')">
        <ion-icon name="trash" style="zoom:2.0"></ion-icon>
      </button>

    </div>

  </ion-item>

  <ion-item lines="none" *ngIf="device.timer.timer2.show === true">

    <ion-label *ngIf="device.timer.timer2.timer !== ''">
      <ion-label>
        <ion-icon name="time-outline"></ion-icon> {{device.timer.timer2.timer}}
      </ion-label>

      <ion-label>
        <ion-icon name="calendar-outline"></ion-icon> <span *ngIf="device.timer.timer2.week1 === 'seg'">Seg</span>
        <span *ngIf="device.timer.timer2.week2 === 'ter'">Ter</span> <span
          *ngIf="device.timer.timer2.week3 === 'qua'">Qua</span>
        <span *ngIf="device.timer.timer2.week4 === 'qui'">Qui</span> <span
          *ngIf="device.timer.timer2.week5 === 'sex'">Sex</span>
        <span *ngIf="device.timer.timer2.week6 === 'sab'">Sáb</span> <span
          *ngIf="device.timer.timer2.week7 === 'dom'">Dom</span>
      </ion-label>
      <ion-label *ngIf="device.timer.timer2.action.length > 0">
        <ion-icon name="flash-outline"></ion-icon> {{device.timer.timer2.action}}
      </ion-label>
    </ion-label>

    <div>

      <button class="transparent" ion-button clear [routerLink]="['/edit-timer-page/', mac, 'timer2']">
        <ion-icon name="create" style="zoom:2.0"></ion-icon>
      </button>

      <button class="transparent" ion-button clear (click)="deleteTimer(mac, timer = 'timer2')">
        <ion-icon name="trash" style="zoom:2.0"></ion-icon>
      </button>

    </div>
  </ion-item>

  <ion-item lines="none" *ngIf="device.timer.timer3.show === true">

    <ion-label *ngIf="device.timer.timer3.timer !== ''">
      <ion-label>
        <ion-icon name="time-outline"></ion-icon> {{device.timer.timer3.timer}}
      </ion-label>

      <ion-label>
        <ion-icon name="calendar-outline"></ion-icon> <span *ngIf="device.timer.timer3.week1 === 'seg'">Seg</span>
        <span *ngIf="device.timer.timer3.week2 === 'ter'">Ter</span> <span
          *ngIf="device.timer.timer3.week3 === 'qua'">Qua</span>
        <span *ngIf="device.timer.timer3.week4 === 'qui'">Qui</span> <span
          *ngIf="device.timer.timer3.week5 === 'sex'">Sex</span>
        <span *ngIf="device.timer.timer3.week6 === 'sab'">Sáb</span> <span
          *ngIf="device.timer.timer3.week7 === 'dom'">Dom</span>
      </ion-label>
      <ion-label *ngIf="device.timer.timer3.action.length > 0">
        <ion-icon name="flash-outline"></ion-icon> {{device.timer.timer3.action}}
      </ion-label>
    </ion-label>

    <div>

      <button class="transparent" ion-button clear [routerLink]="['/edit-timer-page/', mac, 'timer3']">
        <ion-icon name="create" style="zoom:2.0"></ion-icon>
      </button>

      <button class="transparent" ion-button clear (click)="deleteTimer(mac, timer = 'timer3')">
        <ion-icon name="trash" style="zoom:2.0"></ion-icon>
      </button>

    </div>
  </ion-item>

  <ion-item lines="none" *ngIf="device.timer.timer4.show === true">

    <ion-label *ngIf="device.timer.timer4.timer !== ''">
      <ion-label>
        <ion-icon name="time-outline"></ion-icon> {{device.timer.timer4.timer}}
      </ion-label>

      <ion-label>
        <ion-icon name="calendar-outline"></ion-icon> <span *ngIf="device.timer.timer4.week1 === 'seg'">Seg</span>
        <span *ngIf="device.timer.timer4.week2 === 'ter'">Ter</span> <span
          *ngIf="device.timer.timer4.week3 === 'qua'">Qua</span>
        <span *ngIf="device.timer.timer4.week4 === 'qui'">Qui</span> <span
          *ngIf="device.timer.timer4.week5 === 'sex'">Sex</span>
        <span *ngIf="device.timer.timer4.week6 === 'sab'">Sáb</span> <span
          *ngIf="device.timer.timer4.week7 === 'dom'">Dom</span>
      </ion-label>
      <ion-label *ngIf="device.timer.timer4.action.length > 0">
        <ion-icon name="flash-outline"></ion-icon> {{device.timer.timer4.action}}
      </ion-label>
    </ion-label>

    <div>

      <button class="transparent" ion-button clear [routerLink]="['/edit-timer-page/', mac, 'timer4']">
        <ion-icon name="create" style="zoom:2.0"></ion-icon>
      </button>

      <button class="transparent" ion-button clear (click)="deleteTimer(mac, timer = 'timer4')">
        <ion-icon name="trash" style="zoom:2.0"></ion-icon>
      </button>

    </div>
  </ion-item>
</ion-content>